<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sensors Web App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/bootstrap/bootstrap.min.css" >
    <link rel="stylesheet" href="../static/chartJS/Chart.min.css">
    <link rel="stylesheet" href="../static/navs.css">
</head>
<body>

<nav id="heading" class="navbar navbar-dark navbar-expand-md bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand">
            Sensors Web App
        </span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <span class="nav-link" id="console-nav-item" data-toggle="collapse">Console</span>
                </li>

                <li class="nav-item dropdown">
                    <span class="nav-link dropdown-toggle" id="graph-nav-item" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Graph
                    </span>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <span id="graph-nav-item-acceleration" class="dropdown-item">Acceleration</span>
                        <span id="graph-nav-item-rotation-rate" class="dropdown-item">Rotation Rate</span>
                        <span id="graph-nav-item-orientation" class="dropdown-item">Orientation</span>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <span class="nav-link dropdown-toggle" id="gauge-nav-item" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Clock
                    </span>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <span id="gauge-nav-item-acceleration" class="dropdown-item">Acceleration</span>
                        <span id="gauge-nav-item-rotation-rate" class="dropdown-item">Rotation Rate</span>
                        <span id="gauge-nav-item-orientation" class="dropdown-item">Orientation</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <section id="actions">
        <div class="row justify-content-between align-items-center my-3">
            <div class="col-auto">
                <div id="console-filter-box">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="checkbox-acceleration">
                        <label class="form-check-label" for="checkbox-acceleration">
                            Acceleration
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="checkbox-rotation-rate">
                        <label class="form-check-label" for="checkbox-rotation-rate">
                            RotationRate
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="checkbox-orientation">
                        <label class="form-check-label" for="checkbox-orientation">
                            Orientation
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <button id="connection-btn" class="btn btn-info">Connect</button>
                <button id="control-btn" class="btn btn-success" disabled>Start</button>
                <button id="clear-btn" class="btn btn-danger">Clear</button>
            </div>
        </div>
    </section>

    <section id="console" class="bg-dark text-white p-3 overflow-auto">
        <div id="console-view">
        </div>
    </section>

    <section id="graph" class="border border-dark p-3 overflow-auto element-hidden">
        <canvas id="myChart" class="w-100"></canvas>
    </section>

    <section id="gauge" class="border border-dark p-3 overflow-auto element-hidden">
        <div class="row" >
            <div class="col-md-4">
                <div class="text-center">X</div>
                <canvas id="myGaugeX" class="w-100"></canvas>
            </div>
            <div class="col-md-4">
                <div class="text-center">Y</div>
                <canvas id="myGaugeY" class="w-100"></canvas>
            </div>
            <div class="col-md-4">
                <div class="text-center">Z</div>
                <canvas id="myGaugeZ" class="w-100"></canvas>
            </div>
        </div>
    </section>

</div>


<script src="../static/bootstrap/jquery-3.5.1.slim.min.js"></script>
<script src="../static/bootstrap/popper.min.js"></script>
<script src="../static/bootstrap/bootstrap.min.js"></script>
<script src="../static/chartJS/Chart.min.js"></script>
<script src="../static/gauge/gauge.min.js"></script>
<script src="../static/index.js" defer></script>
</body>
</html>
